[2020-02-26 01:25] seanlaw opened #1 "Remove Curl"
@louisabraham Is there a reason why we are downloading the libdivsufsort from its primary Github repo? Considering:

1. The license is an MIT license which is compatible with your current license
2. There hasn't been any changes to the libdivsufsort repo in at least 5 years (i.e., it is stable and any future change is likely to be small or have little affect on this package)

I propose that, for s

[2020-02-26 01:34] seanlaw opened #2 "Problem Linking Library Generically On Mac OS X"
@louisabraham I tried following your instructions and it seemed to build and install without any issues. However, I can't seem to import the package:

[code]

[2020-02-26 01:55] seanlaw commented on #2
I did a little digging but it looks like there are a couple of possible issues:

1. On a Mac, the files are called `libdivsufsort.3.0.1.dylib` and `libdivsufsort64.3.0.1.dylib` and the `build.sh` successfully copies them into the `pydivsufsort` directory but I'm not sure that `dll.py` would reference them correctly
2. When I actually look into the `~/miniconda3/lib/python3.7/site-packages/pydivsuf

[2020-02-26 02:04] #2 closed

[2020-02-26 02:04] seanlaw commented on #2
@louisabraham You beat me to it! I was just about to submit a PR :)

[2020-02-26 02:37] louisabraham commented on #1
I just don't know how to put them in a sdist and exclude them from a wheels. But `build.sh` has the same issue. Can you add libdivsufsort as a submodule and change `build.sh` accordingly?

[2020-02-26 02:56] louisabraham commented on #2
I also fixed the segfault on array.array: macos probably doesn't like manual pointers.

[code]

[2020-02-26 03:09] seanlaw commented on #1
You'll have to excuse my lack of understanding when it comes to sdist and wheels but what is the reason that we need to exclude them from wheels? Aside from size/bloat would having them in the wheel cause conflicts or prevent the library from functioning? If not (i.e., it's just bloat), then perhaps we can be pragmatic and allow the bloat for now and create a new issue to fix the bloat in the futu

[2020-02-26 03:28] louisabraham commented on #1
You are right. Anyway, I don't think a sdist can be made as one needs gcc and cmake, so it doesn't matter.

[2020-02-26 03:39] seanlaw opened #3 "Failing With np.uint64 Array"
When I try to explore a different array such as:

[code]

I am encountering:

[code]

[2020-02-26 03:45] seanlaw opened #4 "Follow Python Install Best Practice"
According to Brett Cannon (who is on the Python Steering Council), he strongly advocates for using `python -m pip install .` instead of `pip install .`

You can read more about the reasoning and rationale [here on his blog](https://snarky.ca/why-you-should-use-python-m-pip/). I propose that we update the README to reflect this. I've done the same in STUMPY

[2020-02-26 07:50] louisabraham commented on #3
This is normal, libdivsufsort doesn't support an other type than char.

[2020-02-26 07:56] louisabraham commented on #3
I could support other types using either sais.hxx by Yuta Mori or just encoding the letters as char. If anybody needs that, please reopen the issue.

[2020-02-26 08:01] louisabraham commented on #4
Sure, I knew about it. The current README is intended for the contributors, it will be updated when the project is a bit more mature.

[2020-02-26 10:59] seanlaw commented on #3
Actually, this is my use case. My input is always a NumPy array of ints where there could be 10K or more unique ints and over a billion elements in length. My input is never char and will certainly be more than `np.uint8`

[2020-02-26 20:13] seanlaw opened #5 "Performance Concerns"
@louisabraham Based on your original Python implementation, I played around with a naive NumPy implementation and, for an input array that is `300_000_000` in length, my NumPy implementation takes around 20 minutes and the libdivsufsort version takes 100 minutes.

Of course, the memory usage of the libdivsufsort is very small (almost an order of magnitude less than the NumPy version) but I expecte

[2020-02-26 20:25] louisabraham commented on #5
Of course it is supposed to be much better.
Did you by chance use a random string?
My code is specially optimized for that.

[2020-02-26 20:31] louisabraham commented on #5
Do you have a smaller example I can test on?

Also, the memory usage of my code should be linear with a small constant if you use `np.unique` and not a dict.

[2020-02-26 20:47] louisabraham commented on #3
Ok, I'll implement both solutions and benchmark them tomorrow.

Basically, you can just encode a value by putting its bytes in the suffix array. For your example, 2 bytes per value are sufficient. After that, you can just take the even values of the output.

[2020-02-26 21:43] seanlaw commented on #5
I basically modified your `example.py` with `random_string = np.random.randint(100, size=300_000_000, dtype=np.uint8)`

[2020-02-26 21:48] seanlaw commented on #5
The naive NumPy functions (based on your Python implementation) is:

[code]

[2020-02-26 22:04] louisabraham commented on #5
Yeah, my implementation uses this really nice trick `max(line)<n-1` that basically kills the complexity for random strings.

Could you test for a constant string? Try a smaller number of characters, my algorithm will take much more time.

[2020-02-26 22:08] louisabraham commented on #5
Also, I guess you use a powerful machine with multiple cores. Numpy uses powerful parallelization. You should compile libdivsufsort with openmp activated. To do that, just add the option `-DUSE_OPENMP=ON` in the cmake call.

[2020-02-26 23:07] louisabraham commented on #5
I really cannot reproduce. There is a loop that repeats the computation 100 times in `example.py`. Are you sure this is not the cause of your problem?

[2020-02-27 00:51] seanlaw commented on #5
Well, that's embarrassing! I totally overlooked the `for-loop`. Indeed, that was the issue! I'm glad that was it and not something else. One run took about 67 seconds. Thanks and sorry for the false alarm 👍

[2020-02-27 00:51] #5 closed

[2020-02-27 01:01] seanlaw commented on #3
Sounds good! Looking forward to it

[2020-02-27 05:29] louisabraham commented on #5
That's just how performant libdivsufsort is!

[2020-02-27 11:57] louisabraham commented on #3
Now fixed!

[2020-02-27 11:57] #3 closed

[2020-02-27 12:00] louisabraham commented on #3
I didn't implement the sais.hxx solution, it is probably slower. Note that a type that uses k bits will need approximately k more time so try to use the smallest type you can. I can  add later a function that transform the input to the smallest dtype.

[2020-02-27 12:09] #4 closed

[2020-02-27 12:20] seanlaw opened #6 "Add Function to Automatically Transform Input To Use The Smallest dtype"
According to #3

It would be nice to add a function to handle this automatically behind the scenes

[2020-02-27 12:22] seanlaw opened #7 "Add Optional Unit Test For Large Inputs"
@louisabraham Would it be helpful to start writing unit tests or would it be premature/overkill? I could possibly help with this if you want to provide some guidance on what needs to be/should be tested. I typically use `pytest`

[2020-02-27 12:23] louisabraham opened #8 "How can we support OpenMP?"
Compiling with `-D​USE_OPENMP` is easy.
However if we use it in the bdist_wheel the people without OpenMP will have an error.
Compiling both (thus having 4 dll) is possible, even though it adds some bloat.

[2020-02-27 12:24] seanlaw opened #9 "Add Linting/Code Formatting"
@louisabraham Would it be useful to add `flake8` and `black` for linting and code formatting, respectively?

Perhaps, this is something we can do later once Travis CI is in place

[2020-02-27 12:24] louisabraham commented on #7
Look at the README :)

[2020-02-27 12:25] louisabraham commented on #7
What worries me is the need to test for inputs larger than 2**31 (thus needing divsufsort64). This is not something anybody can do so I don't want to include it in the tests.

[2020-02-27 12:27] louisabraham commented on #9
Yes, the current code is formatted in black. I have never used Travis for linting or code formatting.

[2020-02-27 12:34] seanlaw commented on #9
Neither have I but I can only assume that it must be possible. I currently perform linting/code formatting **checks** on Azure Pipelines before accepting any public PR. While it is possible to automate it,  I haven't gotten to the level

[2020-02-27 12:36] seanlaw commented on #7
Ha! Glad we're on the same page

[2020-02-27 12:41] seanlaw opened #10 "Change Return Value for NumPy Inputs"
Currently, in `divsufsort`, it looks like NumPy array inputs return an object that the user then needs to be convert back to a NumPy array

[code]

In `example.py`, we see:

[code]

I think that if the input is an ndarray then it would make more sense to return:

[code]

[2020-02-27 12:46] louisabraham commented on #7
Could you write a test for huge inputs and execute it?
There is probably a way to specify some tests as optional in pytest.

[2020-02-27 12:48] louisabraham commented on #10
I think the function currently returns a numpy array and the example does a superfluous call. Can you check?

[2020-02-27 12:49] seanlaw commented on #8
At this point, I don't think I'm too concerned. The lib files look pretty small. Maybe you have a different idea but anything less than 1MB is perfectly fine (I'm guessing that we'll come in at under 250-500 KB even with wheels included). It's certainly worth the convenience if it isn't too much work to handle

[2020-02-27 13:01] louisabraham commented on #6
The optimal solution (in terms of dtype size) would be to use np.unique. However, a simpler solution that just tests on `inp.max() - inp.min()` will be faster.
Since most users don't have a small number of different values covering a big range, this solution is the best.

[2020-02-27 13:11] louisabraham opened #11 "add bindings for the other functions of libdivsufsort"

[2020-02-27 13:13] louisabraham opened #12 "add a class to index multiple documents"
See my proposal and code in https://github.com/debatem1/pydivsufsort/issues/4

[2020-02-27 15:13] #8 closed

[2020-02-27 15:16] louisabraham commented on #8
After checking, I think OpenMP is almost always present so I activated it.

Computations are faster for large strings but slower for small. However,
setting `OMP_NUM_THREADS` yields the same performance as the version
without OpenMP so it's a win-win.

Le jeu. 27 févr. 2020 à 13:50, Sean M. Law <notifications@github.com> a
écrit :

[2020-02-27 15:18] louisabraham commented on #1
Fixed by submodules in 89dcb7f3da45bfcfae940858b2bc9d3bb40541e1

[2020-02-27 15:18] #1 closed

[2020-02-27 15:22] seanlaw commented on #6
I would agree with this. I think we just need to show some documentation or a good example that demonstrates how much of a waste it is to have an array like:

[code]

And one should convert this to integers between `0` and `2` (inclusive).

[2020-02-27 15:22] seanlaw commented on #6
I would agree with this. I think we just need to show some documentation or a good example that demonstrates how much of a waste it is to have an array like:

[code]

And one should convert this to integers between `0` and `2` (inclusive).

[2020-02-27 15:24] seanlaw commented on #10
Yep, thanks for fixing this.

[2020-02-27 15:40] louisabraham commented on #6
[code]

[code]

[2020-02-27 16:01] seanlaw commented on #6
I can't tell from this comment if you think this is too fast or slow? IIRC, `np.unique` sorts the array first but, technically, we don't need sorting

[2020-02-27 16:07] louisabraham commented on #6
120 ms is comparable to the cost of divsufsort on a string with the same dtype. Hence the user will pay in most cases a non negligible cost that there is no way to avoid. There is no way to make np.unique faster or to use it without sorting.

The current version includes an optimization that will work in most cases and doesn't cost much.

Why did you reopen the issue? To remember to put that in an

[2020-02-27 16:09] louisabraham commented on #6
I could add a parameter to launch np.unique but just doing it will take the same amount of code, and I want the interface to be  simple.

[2020-02-27 16:25] seanlaw commented on #6
Cool. I'm with you and agree that a simple interface is preferred.

Sorry for re-opening. I couldn't comment without re-opening. For issues that aren't closed by an actual commit, I tend to prefer to leave it open for at least 14 days (2 weeks) to allow for discussion and additional thoughts/considerations. After 2 weeks, I usually close and make a comment like "feel free to re-open..."

Not tryin

[2020-03-01 00:59] seanlaw commented on #7
When you say `2**31`, are you saying:

[code]

Is the goal to actually verify the output or only to ensure that the input can be handled?

To handle the long/slow running tests, we can skip them from the command line according to [this documentation](https://docs.pytest.org/en/latest/example/simple.html#control-skipping-of-tests-according-to-command-line-option)

[2020-03-01 07:21] louisabraham commented on #7
That's precisely the issue: in theory, I would have to check the result. However, I don't think we should lose too much time on that.
There is a function in libdivsufsort to check the result, I'll implement it later (#11) so we don't really to check correctness.

[2020-03-03 16:21] louisabraham opened #13 "add examples in README"

[2020-03-03 16:49] louisabraham opened #14 "LCP array computation"
Kasai's algorithm can be used (leading to a 13n memory requirement).

A function to count occurrences of a pattern can be implemented as well: https://en.wikipedia.org/wiki/LCP_array#LCP_array_usage_in_finding_the_number_of_occurrences_of_a_pattern

[2020-03-03 16:50] louisabraham commented on #14
An implementation in C / Cython should be preferred (even over numba) for performance concerns.

[2020-03-03 19:33] louisabraham opened #15 "Windows installation"
Might be possible by installing bash through https://chocolatey.org/packages/git.portable and cmake with https://chocolatey.org/packages/cmake.portable.

These can be installed before build using `CIBW_BEFORE_BUILD`

[2020-03-03 19:35] louisabraham opened #16 "Automatically convert string input to bytes"
This will greatly simplify the life of people who test pydivsufsort for the first time.

A warning can be issued.
An error is triggered if the string contains non ascii chars.

[2020-03-03 21:56] louisabraham opened #17 "release sdist"
There should be a way to produce a sdist as well.

For example, arm processors cannot install manylinux wheels.

[2020-03-03 22:01] louisabraham commented on #17
https://packaging.python.org/guides/using-manifest-in/ should help

[2020-03-04 10:06] louisabraham opened #18 "Answer LCP queries"
From the LCP array (#14), one should be able to answer LCP queries fast.
The problem is equivalent to RMQ.

Since for larger datasets the consraint will be memory, we have to use linear memory algorithms.

Ideas to benchmark are:

- segment tree
- block queries like https://github.com/wx-csy/librmq/blob/master/librmq/block.h
- cartesian tree + Farach-Colton and Bender Algorithm

Segment tree is pr

[2020-03-04 23:38] louisabraham commented on #15
It was a hell to use bash and cmake on windows but at least it works now.

build.sh has to be launched manually because it's impossible to cover all possible ways to install bash on Windows.
build.sh uses some variables from Travis but no contributor uses Windows so it's not very efficient to try to fix it now.

[2020-03-04 23:38] #15 closed

[2020-03-04 23:41] louisabraham commented on #17
It should be run on linux arm64 (https://docs.travis-ci.com/user/multi-cpu-architectures/).

[2020-03-05 00:36] #17 closed

[2020-03-05 03:08] seanlaw commented on #14
I think the Kasai version that you have is great!

[2020-03-05 12:14] louisabraham commented on #14
Cython's [fused types](https://cython.readthedocs.io/en/latest/src/userguide/fusedtypes.html) are awesome for supporting a lot of types.

[2020-03-05 17:37] louisabraham commented on #14
Strange, the same code can build or not build on arm64

build: https://travis-ci.org/louisabraham/pydivsufsort/jobs/658782740
fail: https://travis-ci.org/louisabraham/pydivsufsort/jobs/658789600
diff: https://github.com/louisabraham/pydivsufsort/compare/8cec34f9d0d1...830035ac564e

[2020-03-05 18:07] seanlaw opened #21 "divsufsort output"
Maybe this is a personal preference but I find that the `divsufsort` suffix array output to be unintuitive. For the following input:

[code]

I would want the output to be:

[code]

and not (the inverse):

[code]

Of course, to convert from the the second to the first simply requires `np.argsort(second)` but I find the first to be more human readable. I don't know what the correct suffix array def

[2020-03-05 18:17] seanlaw commented on #21
Nvm, I had them switched in my head. At the end of the day, I think what matters is that it matches the [suffix array example in Wikipedia](https://en.wikipedia.org/wiki/Suffix_array)

[2020-03-05 18:17] #21 closed

[2020-03-05 18:47] seanlaw commented on #14
In Kasai's algorithm, would it be possible to add an optional function argument called `stop` like:

[code]

Where `stop` represents the sentinel integer (say, zero) and in this check:

[code]

it would change to something like:

[code]

Essentially, I'm only interested in counting the overlap between neighboring sequences but stopping (and excluding) the sentinel integer.

[2020-03-05 20:05] louisabraham commented on #14
I'm not 100% sure it is still a correct algorithm.

What you could do is build a second array that contains the "distance" to the next separator (computable in linear time with a simple loop going backwards). Then you build an array that tells for every 2 neighbors of the suffix array the minimum of their distances to their next separators. Finally you take the minimum of that array and the LCP ar

[2020-03-05 20:34] seanlaw commented on #14
@louisabraham I agree with you 100% that what I'm proposing is not Kasai's algorithm. It's a modification of it. My only hope was to avoid taking a second pass over the sorted suffixes.

I am totally open to a separate set of functions that implements what you propose as long as I can easily get to this output:

[code]

[2020-03-05 20:45] seanlaw commented on #14
Btw, I really like your suggestion! I'm impressed by your creative thinking and your ability to thoughtfully consider time complexity. I appreciate all of these things when it is presented to me but I wished that my brain were wired like that!

[2020-03-06 11:04] louisabraham commented on #14
What I meant is that I was not sure that this modification is correct, but now I am convinced it is.

My solution allows you to do it without separators.

If you want to separate n+1 strings, why not just use n different separators? It will change slightly the suffix array when the comparison of two suffixes breaks down after separators. However, since you don't care about the result when a separa

[2020-03-06 13:23] seanlaw commented on #14
Ohhhh, I see what you mean now! I have seen people using different separators (without explaining why) but I hadn't considered the value of having different separators until now. That makes sense.

I'm with you. Let me try modifying my input as you proposed. That might be good enough

[2020-03-06 13:41] louisabraham commented on #14
Else, you can still implement my method in pure numpy. To build the first array of "distances", you can use cumsum.

[2020-03-17 18:08] #6 closed

[2020-03-24 20:27] louisabraham commented on #14
This is now implemented in Cython and has been pushed in version 0.0.2.
The setup.py doesn't make any sense (have to use distutils from setuptools) but hey it works.

[2020-03-24 20:27] #14 closed

[2020-03-24 20:50] seanlaw opened #22 "README Example Fails"
I don't know if this has to do with the way that the package has been laid out but, at first, I tried to install the package locally via:

[code]

This is command pretty typical and things seemed to install but some of the tests failed. Then I noticed that the README actually says

[code]

Of course, this also installed without any error but now the tests pass. 🤷‍♂

And then, this usage command on

[2020-03-24 20:52] seanlaw commented on #22
@louisabraham Btw, I hope that you and your loved ones are staying safe!

[2020-03-24 21:06] #16 closed

[2020-03-24 21:09] louisabraham commented on #16
I only trigger the warning for input size > 999, else it will make a lot of people worry.

[2020-03-24 21:12] louisabraham commented on #22
what do you mean?

Feel free to modify the examples. In the latest version (0.0.3), strings can be used as inputs.

[2020-03-24 21:36] seanlaw commented on #22
This is what I get when I use `python -m pip install .`

[code]

[2020-03-24 22:36] louisabraham commented on #22
Please pull the latest commit. Sometimes I push commits with bugs.

[2020-03-25 02:29] seanlaw commented on #22
Will do!

[2020-03-26 13:24] seanlaw opened #23 "Cython Dependency in Setup.py Breaking Installation"
I think we have a `chicken and the egg situation". I performed a fresh install of my Python environment (with Conda) and when I try:

[code]

I am met with:

[code]

It looks like `setup.py` itself is dependent on `cython` having already been installed. But, at the same time, it is not sufficient to add `cython` as a dependency in the `setup.py`. Normally, `setup.py` would have installed `cython`

[2020-03-26 13:25] seanlaw commented on #23
Of course, after manually installing `cython` first, then `python -m pip install .` works fine

[2020-03-26 13:32] seanlaw commented on #23
Okay, I spoke too soon. There must've been a change in the last commit as while `python -m pip install .` appears to install without any errors, pytest fails with:

[code]

However, reinstalling with `python -m pip install pydivsufsort` is fine and the tests pass. But this syntax for installing seems atypical and I'd much prefer `python -m pip install .`

[2020-03-26 13:48] #22 closed

[2020-03-26 14:11] seanlaw commented on #22
Not sure why the builds are failing but it doesn't seem to be related to changing the README

[2020-03-26 14:16] louisabraham commented on #23
It looks like `python -m pip install .` doesn't compile libdivsufsort.

The structure of the setup.py is far from optimal but after hundreds (really) of attempts it works on Travis so I'm not willing to change it.

 99% of users will just install the wheels through pypi so I think it is fine.

About the current failures on Travis, we just have to wait for manylinux to fix them https://github.com/p

[2020-03-26 15:48] seanlaw commented on #23
That's fair. Would it bother you if I added a `setup.sh` file to the root directly that has `python -m pip install pydivsufsort` in there and maybe a check for `cython`? This way, manual installation is straightforward when we come back to it months from now when we don't have any muscle memory. Your call.

Ahh, gotcha! With wheels, the `cython` issue is automatically handled

[2020-03-26 15:52] seanlaw commented on #23
Should I add `cython` to the `setup.py` as a requirement?  I can also add a `requirements.txt`

[2020-03-26 18:54] louisabraham commented on #23
I think adding a requirements.txt would be the most standard way. Don't forget to add numpy as well.

[2020-03-26 18:56] louisabraham commented on #22
About the current failures on Travis, we just have to wait for manylinux to fix them pypa/manylinux#512

[2020-03-26 20:29] seanlaw commented on #13
This was completed in 82d2c189e18ace39b5c8a5a8386adc8d7c852bbe

[2020-03-26 20:29] #13 closed

[2020-03-30 12:05] louisabraham commented on #18
Note: the queries can be efficiently parallelized.

[2020-03-31 22:03] #18 closed

[2020-03-31 22:04] louisabraham commented on #18
Parallel queries is out of scope for the moment. prange is a hassle to use.

[2020-03-31 22:08] louisabraham opened #24 "improve and document the LCP query interface"
@seanlaw what do you think of the API to do efficient LCP queries? see [here](https://github.com/louisabraham/pydivsufsort/blob/4f51a1e001cf304732cbab825e98efdfe9c21a8e/tests/test_correct.py#L29-L33)

There might be area for improvement. For example, the segtree name is confusing as it refers to the `segtree` array and the `(rank, segtree)` tuple.

The function naming is also obscure as not a lot

[2020-03-31 22:11] louisabraham opened #25 "rename divsufsort() and kasai() ?"
@seanlaw I think some users would prefer to have functions simply named `suffix_array()` and `lcp_array()`. Maybe providing aliases can be useful.

[2020-04-01 00:55] seanlaw commented on #25
I 100% agree with you! I think it is far more explicit so I support the idea of aliasing. Let me know and I will update the README examples accordingly

By "aliasing", I am assuming you don't mean `from pydivsufsort import kasai as lcp_array`

[2020-04-01 01:02] seanlaw commented on #24
While I am not familiar with querying approaches, I agree that the naming is confusing.

Having said that, perhaps a lot of this can be improved via:

1. Better docstrings with what the inputs/outputs mean and a reference that explains clearly what is happening if possible
2. Nice, simple illustrative examples that are borrowed from common examples (I am always a fan of referencing Wikipedia examp

[2020-04-01 01:06] seanlaw commented on #25
Alternatively, you could change `kasai()` to a private function `_kasai` and just have `lcp_array` call `_kasai`. Just a thought

[2020-04-01 01:11] seanlaw commented on #11
This is well beyond what I am using this package for so I trust your judgement. If you want to point me to some relevant reading material then I can brush up and maybe provide some input?

[2020-04-01 08:52] louisabraham commented on #11
I'm not sure I lack information at this point, but thanks for proposing :)

The need for a class to handle `sa_search` is also motivated by #24: it would be much nicer to have something like

[code]

[2020-04-01 08:53] louisabraham commented on #24
So the thing is currently we have to do that:

[code]

What I think is that `thing` is not very convenient to carry around. An object would solve that  problem.

[2020-04-01 11:07] seanlaw commented on #24
I see your point and agree that a class would solve that issue.

Is there a good place to compile a list of potential things that I’d want to “query” once the suffix_array and lcp_array are computed? Should I create a new issue?

[2020-04-01 11:18] seanlaw commented on #11
Okay, I am on board with that. I think you’ve sufficiently motivated the need for a class (but I’m sure you’ve already justified to yourself 😊).

I’m sure it’s just an example but I’d request for a better class name than “Index”. Something more obvious or descriptive. Otherwise, one would/could reuse the package name as the class name if it were simpler or more compact. But, again, good/clear/illu

[2020-04-01 11:19] louisabraham opened #26 "implement an index class"
It computes the suffix array, lcp array and segment tree lazily and allows to answer LCP and search queries.
Furthermore, it can be easily serialized using pickle.

[2020-04-01 11:23] seanlaw commented on #26
Does this mean that you be using Python’s `@property` decorator for this lazy computation?

[2020-04-07 13:31] seanlaw opened #27 "Querying Sequences With Insertions, Deletions, and Mutations"
Let's say I have a million sequences that are between 10-1000 steps in length. First, I append a unique "sentinel step" to the end of each sequence and then I concatenate all of them together and compute the `suffix_array` and `lcp_array` with this concatenated (superset) sequence. From the `lcp_array` I can identify the subsequence, `A`, with the highest frequency counts but I am also curious to

[2020-04-08 17:42] louisabraham commented on #27
You are describing the [Levenshtein distance](https://en.wikipedia.org/wiki/Levenshtein_distance).

I think the problem you are describing can reasonably not be computed exactly in reasonable time.

A fast implementation of the Levenshtein distance and related metrics could be an idea for this library but I think that approximating queries at that scale is a hard problem that is not in the scope o

[2020-04-08 18:44] seanlaw commented on #27
Thanks for talking through it. It certainly sounds like LSH or the string matching approach would be useful.

Originally, I was thinking about approaching the problem with some sort of fuzzy string matching

[2020-04-08 19:46] louisabraham commented on #27
Now I'm not sure I understand what you want to do. I thought you wanted to find a substring that "almost" appears at a lot of places. This is hard because most approaches would be in O(n**2) with n being 1M of strings.

Also, to find A in your first post, I'm pretty sure you need to choose a length first.

I don't really understand how you want to use fuzzy string search.

Maybe you should just mo

[2020-04-08 19:46] louisabraham commented on #27
Oops, my finger slipped.

[2020-04-09 00:23] seanlaw commented on #27
No, I don't know of any implementation. I'll have to put some more thought into it and establish a real example.

[2020-04-09 21:37] louisabraham commented on #27
A random thought: you probably want to detect patterns that approximately appear a lot of times. Maybe the most frequent substring `A` of length `k`  is not the "center" of those patterns that appear a lot of times in terms of edit distance, nor even related. You could imagine that the second most frequent substring, when accounting for the approximate matches, is the one you want.

What you could

[2020-04-12 15:28] #11 closed

[2020-04-12 15:30] louisabraham commented on #11
I just raise an error when an input other than bytes is given to the other functions. All functions are unit tested using reference implementations in Python.

[2020-04-12 15:33] louisabraham commented on #23
@seanlaw what is setup.sh from 8920c3a? I think we should remove it.

[2020-04-12 15:53] seanlaw commented on #23
@louisabraham Due to the fact that installing from source is non-standard (i.e., using `python -m pip install pydivsufsort` instead of `python -m pip install .`) and, for development, I tend to either create isolated virtual environments or sometimes start my environments from scratch, this script is there to make it easier to install the package from source. This avoids having to:

1. Remember to

[2020-04-12 15:56] louisabraham commented on #27
What do you think about this @seanlaw? Is the above solution suitable for your needs?

[2020-04-12 16:00] louisabraham commented on #26
property is just a syntactic sugar. memoization is the algorithm.

What about WonderString for the name of this class and the new repository name?

[2020-04-12 16:01] louisabraham commented on #25
I think it's better not to change that, kasai and divsufsort refer to the implementation.

The higher level interface discussed in other issues will call them `.lcp_array` and `.suffix_array`.

[2020-04-12 16:01] #25 closed

[2020-04-12 16:03] louisabraham commented on #23
I think `python -m pip install pydivsufsort` does **not** install from source.

This script will probably confuse other people though so I would like to remove it.

[2020-04-12 16:05] seanlaw commented on #27
Yes, I think that is good enough for now. I’ll re-open if it isn’t. Thanks for your help!

[2020-04-12 16:08] seanlaw commented on #26
I think the issue with using the word “String” in the name is that it immediately makes people assume that it only works for strings (which is not my use case).

[2020-04-12 16:09] louisabraham commented on #27
You are welcome to add them to the repository / I can implement them as well.

[2020-04-12 16:14] seanlaw commented on #23
Okay, I think I overlooked that since, originally, I could only install from source when we first started and then, at some point, you had added it to PyPI. So, what command does one use to install from source?

[2020-04-12 16:14] seanlaw commented on #23
I'm fine with that

[2020-04-12 16:28] louisabraham commented on #26
I think it's not a big problem as "string" refers more to a family of algorithms that can be used on arrays than to the `str` datatype. For example, the Wikipedia [page](https://en.wikipedia.org/wiki/Suffix_array) of suffix arrays talks about strings.

[2020-04-12 16:29] seanlaw commented on #27
It’ll be a while before I have bandwidth so feel free to tackle it but don’t feel pressured to

[2020-04-12 16:31] louisabraham commented on #23
python -m pip install .

[2020-04-12 16:34] seanlaw commented on #26
I think that is fair assuming that we supply examples where integers can be used (which we have in the README).

I am curious why the “Wonder” part?

[2020-04-12 16:37] seanlaw commented on #23
But that takes us back to the problem that we had in the first place and why this issue was raised. Has something changed to fix the original issue and allow this command to work properly now?

[2020-04-12 17:23] louisabraham commented on #26
I like superheroes and I was not comfortable with the acronym SS. Also, a reference to a female superhero is not bad in the world of computer science where men are over represented.

[2020-04-12 17:24] louisabraham commented on #23
I think the following would work:

    python -m pip install -r requirements.txt
    python -m pip install -U .

[2020-04-12 17:54] seanlaw commented on #26
Cool. I’m down for that

[2020-04-12 19:24] louisabraham commented on #27
Pushed in the latest version :)

See https://github.com/louisabraham/pydivsufsort/blob/master/examples/most_frequent_substrings.py for an example or https://github.com/louisabraham/pydivsufsort/blob/master/pydivsufsort/stringalg.pyx#L215-L241 for the docstring

It produces outputs like

[code]

As a side note, it was quite interesting to code because I had to use C++ types.

[2020-04-12 19:24] #27 closed

[2020-04-12 19:25] louisabraham opened #28 "separate C and C++ code"

[2020-04-12 19:33] #28 closed

[2020-04-12 23:24] seanlaw commented on #23
This is a rather nasty problem with using `cythonize` (and it looks like [you had encountered this previously too](https://github.com/pypa/setuptools/issues/1317)).

Let's close it as there is no shortcut to make this work elegantly

[2020-04-12 23:24] #23 closed

[2020-04-12 23:38] louisabraham commented on #23
Haha yes it's always funny to rediscover issues from the past. A lot of repositories have the same issue, and most of our users won't have it since we prebuild wheels.

[2020-04-13 09:25] louisabraham commented on #26
Done.

[2020-04-13 09:25] #26 closed

[2020-04-13 09:28] louisabraham commented on #24
With the latest version (not yet on PyPI):

[code]

[2020-04-13 09:29] #24 closed

[2020-04-13 09:31] louisabraham commented on #7
That's probably overkill. The original code is the same for the 32 and 64 bits versions, with just some flags changing.

[2020-04-13 09:31] #7 closed

[2020-04-13 11:13] louisabraham commented on #9
It is now done on travis. I also added code coverage reports as a bonus

[![Coverage](https://codecov.io/gh/louisabraham/pydivsufsort/branch/master/graph/badge.svg)](https://codecov.io/gh/louisabraham/pydivsufsort)

[2020-04-13 11:13] #9 closed

[2020-08-05 21:01] seanlaw commented on #23
I had a scenario where I had to install from source so I'm leaving the installation instructions here for posterity:

[code]

[2021-09-06 08:16] Alexander-Serov opened #29 "Installation fails on Windows with python 3.9"
Hi!

I have been using `pydivsufsort` happily, until we decided to move on to python 3.9. Now here is what I get when attempting to install it:
[code]

Do you have any idea what is going wrong and how to fix it perhaps?

Thanks!

[2021-09-06 09:56] louisabraham commented on #29
Can you test again? I relaunched the Travis CI to upload prebuilt wheels of the windows package.
Building from source on windows can still not be done with just one command.

[2021-09-06 10:10] Alexander-Serov commented on #29
Thanks for the fast reply. The installation seems to go through correctly now!

I guess we can close.

[2021-09-06 10:34] #29 closed

[2021-10-29 13:17] Alexander-Serov opened #30 ""numpy.ndarray size changed" error when installing `pydivsufsort` together with `tensorflow==2.6.0`"
There seems to be some incompatibility between the C-interface of `pydivsufsort` and that of numpy.

The observations are:
[code]

After some extensive searching on the internet, I have found out it is likely related to the `numpy`'s change of the C-interface:
https://stackoverflow.com/questions/66060487/valueerror-numpy-ndarray-size-changed-may-indicate-binary-incompatibility-exp
And in particula

[2021-10-29 14:41] seanlaw opened #31 "Initial Migration to Github Actions"
The Python community is starting to establish some standards around the use of `setup.py` and to move toward "build frontends" and "build backends". I think this (verbose) [article](https://blog.ganssle.io/articles/2021/10/setup-py-deprecated.html#cython-special-case) touches upon the problem in this issue where:

and later:

And they propose some updated solutions where we should separate "build-

[2021-10-30 02:31] seanlaw commented on #31
@louisabraham Please excuse all of the noise. I exclusively use Github Actions for my own open source projects and so I'm using it here to test if I am able to build this package on different operating systems. Afterward, I'll see if I can separate the frontend from the backend.

[2021-10-30 03:09] seanlaw commented on #31
Alright, it looks like I am able to build from source and unit tests are all passing on all three major operating systems!

https://github.com/louisabraham/pydivsufsort/actions/runs/1401375190

The next step is to see if I can untangle the frontend and backends (I don't have any experience with this but I am gonna take a look).

@louisabraham Instead of using TravisCI, I am wondering if you could

[2021-10-31 12:13] louisabraham commented on #31
Thanks, that's awesome!

The uploading to pypi can definitely be done with twine, see in the travis workflow. We have to upload the wheels on each platform, and the sdist from any platform.

Could you try on a different branch with https://test.pypi.org/ (see [here](https://packaging.python.org/guides/using-testpypi/#using-testpypi-with-twine))?

[2021-10-31 14:16] seanlaw commented on #31
Yes, I will look into that. I'm still learning as I'm going so there will be mistakes. Please do not merge anything PR that starts with "[WIP]" (work-in-progress). I do it this way so that I can get Github Actions to trigger each time I make a new commit to the PR as I test out the process.

Yes, that is my plan! I'm glad that we are on the same page. I'll probably still need your eyes at the end

[2021-10-31 14:35] seanlaw commented on #31
So, initially, I needed to set up Github Actions so that it would be triggered by a PR. So the initial commits was me trying to set it up just enough to not affect TravisCI.

I did not remove or change any of the TravisCI components so I am not sure why you are not seeing the CI results anymore 😅. Can you investigate?

The only thing that I can think of is the pyproject.toml file affecting things.

[2021-11-02 08:59] Alexander-Serov commented on #30
Thanks for fast replies. The issue is solved, I am closing!

[2021-11-02 09:31] louisabraham commented on #30
Thank you @seanlaw !!!

[2021-11-05 10:16] Alexander-Serov commented on #30
By the way, is there a way I can contribute to the repository, so that it also builds automatically a version for this numpy version? That could help other people facing the problem and me with integration into my pipelines.

[2021-11-05 11:10] louisabraham commented on #30
No I don't think there is a possibility for specifying requirements like
this on pypi and have pre built versions.

So the source install should be used, by using the no binary option, and
will work once Sean is done with his changes.

On Fri, Nov 5, 2021, 11:16 Alexander Serov ***@***.***> wrote:

[2021-11-05 11:35] seanlaw commented on #30
@louisabraham I am not well educated on this so please educate me. Is there a reason why this package needs to be tied to a specific version of NumPy? I understand having a minimum supported version but I didn't realize the wheels were pinned to a specific NumPy version? To ask the question differently, can you think of a way to resolve this?

[2021-11-05 11:41] Alexander-Serov commented on #30
@louisabraham Isn't it possible to have one pre-compiled version of pydivsufsort for strictly numpy>=1.20 and one for strictly numpy<1.20. This could allow us to specify which wheel should be used, no?

@seanlaw The problem seems to come from a change in the numpy C interface in the version 1.20. My understanding is that apparently some part of a compiled binary code (perhaps from `divsufsort`) is

[2021-11-05 11:42] Alexander-Serov commented on #30
Where can I follow @seanlaw 's changes?

[2021-11-05 13:24] seanlaw commented on #30
I have a naive question. Instead of focusing on the specific NumPy version, is there something that change or add like a `try/except` or `if/else` that can accommodate any version of NumPy (above a minimum version)?  @Alexander-Serov perhaps this is something that you can help dig into? That is, how can we generalize the code so that it is compatible with any version of NumPy but without having to

[2021-11-05 14:19] Alexander-Serov commented on #30
I don't think we are talking about the same things here.
Actually specifying the numpy version on build is already a way to do the `try/except` you are talking about. In fact, it is pip that does the `try/except` and finds the last version of the package that satisfies other requirements (e.g. numpy). We release packages internally at our company and this works pretty fine. [This is also exactly t

[2021-11-05 14:45] louisabraham commented on #30
I don't think a try except would do anything.

@Alexander-Serov it's just not how pip works. pip just tries to download the latest version and apply its requirements.

The base of the issue is this: https://numpy.org/devdocs/release/1.20.0-notes.html#size-of-np-ndarray-and-np-void-changed
combined with Cython compilation.

However, this blog post is interesting: https://ymd_h.gitlab.io/ymd_blog/po

[2021-11-05 14:50] Alexander-Serov commented on #30
@louisabraham I am positive that `pip` does try to find the right version now. This is an example of what I get when `pip` finds incompatible requirements in the last version:
[code]
But I don't insist.

[2021-11-05 14:56] louisabraham commented on #30
Oh very interesting!!! Sorry, I didn't know, thanks for the information.

However I'm not sure deploying two versions each time with two different sets of requirements is the best idea.

It seems that the exception can actually be ignored, so this is definitely the best way.

[2021-11-05 14:58] Alexander-Serov commented on #30
As for the second solution you are suggesting, it looks interesting. But in the stackexchange post you are referring, the message is indeed a warning and the code seems to run. While in my case, it is clearly a ValueError and a specific size mismatch is cited (80 v. 88). Do you think it still applies?

Also, following on the same SE solution you cited, one of the conclusions of the numpy authors s

[2021-11-05 15:01] Alexander-Serov commented on #30
What I meant is you don't need to deploy 2 versions every time. Just deploy once a version `0.5.1` with a strict requirement of `numpy<1.20` and build against it. And then specify and always build a single version with `numpy>=1.20` thereafter. The `pydivsufsort~=0.5` was perfectly fine for the last 5 years since its release, so it could be just kept compatible with numpy<1.2. And all the new deve

[2021-11-05 15:05] louisabraham commented on #30
We have a possible solution that would allow everyone to benefit from the last updates so let's try it!

I don't want to support 2 versions of the package if I can avoid it.

[2021-11-05 15:07] louisabraham commented on #30
The SO question definitely has an error. We can try it, else I don't mind using an older version of numpy, I'm using basic features.

[2021-11-05 15:09] Alexander-Serov commented on #30
Which possible solution of the 2 I mentioned do you have in mind? :)

Otherwise, I can make a PR, no problem.

I will also reopen this issue, just to keep track.

[2021-11-05 15:11] Alexander-Serov commented on #30
On StackExchange, they are able to ignore the warning exactly because it is a warning, I feel:
[code]

Their original message:
[code]
says warning.

[2021-11-05 15:39] louisabraham commented on #30
it's actually a cython problem so I asked there https://github.com/cython/cython/issues/4452

[2021-11-05 16:34] seanlaw commented on #30
This is a great discussion and I am learning a lot so thank you both!

I agree that we'd want to avoid deploying two versions. I hope the Cython folks have a solution that solves all of our needs!

[2021-11-05 16:37] seanlaw commented on #30
@Alexander-Serov Is this something that you have experience with or would be willing to help assist with? It'll take some time for me to wrap my head around it and then find an opportunity to address it. It's at least somewhat stable but far from ready.

[2021-11-05 20:19] da-woods commented on #30
Just to copy what I posted on the Cython issue:

[2021-11-05 22:35] Alexander-Serov commented on #30
Perfect! That's a simple solution.

From what I've seen, pydiv does not use any new new numpy functionality. How low can the numpy version we can build it with then be, you think?

[2021-11-05 22:39] Alexander-Serov commented on #30
@seanlaw Yes, I've seen issue #34 but unfortunately I don't have much experience with frontend splitting or multi platform building. Normally other people do that at my company. I will have a look whether someone has done something similar but cannot guarantee. 😔

[2021-11-12 12:18] Alexander-Serov commented on #30
Apparently the proposed numpy version is not optimal for some configs. Re-opening until built correctly.

[2021-11-12 12:19] Alexander-Serov commented on #30
Oops Cannot re-open. :)

[2021-11-12 12:30] seanlaw commented on #30
Please see https://github.com/louisabraham/pydivsufsort/pull/35#issuecomment-967074457

[2021-11-12 13:02] seanlaw commented on #31
Closed by https://github.com/louisabraham/pydivsufsort/pull/34

[2021-11-12 13:02] #31 closed

[2021-11-12 13:06] seanlaw opened #37 "Upload Built Wheels to PyPI"
Currently, we have a [Github Actions Workflow](https://github.com/louisabraham/pydivsufsort/blob/master/.github/workflows/github-actions.yml) building all of the appropriate wheels and a source distribution (sdist). However, they still need to be uploaded to PyPI via Twine (don't forget to bump the version in `setup.py`!!).

[2021-11-12 13:07] seanlaw commented on #37
@louisabraham I've done all that I can with the Github Actions migration. Would you mind handling this part? Feel free to ask any clarifying questions!

[2021-11-12 14:40] louisabraham commented on #37
Sure, will do.

[2021-12-03 23:58] grantjenks opened #38 "New "source" release with pyproject.toml?"
Thank you so much for these bindings! I am trying to use the library at work but we are forced to build things from source when importing them into our internal system. The current source release on PyPI uses Cython and Numpy in setup.py but doesn't declare these in `setup_requires`. I noticed that the latest code has added pyproject.toml with the requisite `build-system` `requires` section. I thi

[2021-12-04 12:51] louisabraham commented on #38
I don't know if the latest version is ready yet (we are currently working on main which is not ideal).

ccing @seanlaw

Is it possible for you system to install from git? `pip install git+https://github.com/louisabraham/pydivsufsort`

You could also clone and try to build manually. What is your OS?

[2021-12-04 13:37] seanlaw commented on #38
@louisabraham What do you think is necessary or outstanding for the latest version to be "ready"? From what I can tell, the wheels are being built correctly and needs to be uploaded to PyPI.

However, in @grantjenks case, it sounds like he cannot use the wheel and needs to install from source (maybe `sdist`?). So, that needs to get uploaded as well.

@grantjenks Can you clarify precisely what you

[2021-12-04 14:27] louisabraham commented on #38
I was waiting for your confirmation but it looks I am the late one :)

I think `pip install git+https://github.com/louisabraham/pydivsufsort` builds from source, just tested on macOS.

[2021-12-04 17:07] seanlaw commented on #38
Maybe I'm missing something but I think Issue #37 is the final steps.

[2021-12-04 17:09] seanlaw commented on #37
@louisabraham Currently, the Github Actions will trigger every time new code is committed to the repo OR if there is a PR. You'll probably want to consider possibly creating different Github Actions "workflows" for PRs versus a release.

[2021-12-05 22:13] grantjenks commented on #38
Unfortunately, no. We have other workarounds but I figured since it was fixed at HEAD, I would just check on a new release.

Yes, that's correct. We import the sdist, build it ourselves, and then publish it to an internal PyPI-like server.

Yes, that'll work. We just prefer now to pull the sdist from a version on PyPI (rather than from GitHub HEAD).

Thanks again for the bindings! The performance

[2021-12-05 22:20] grantjenks commented on #12
Fwiw, I didn't see the `get_document_index` API but implemented something similar to the bisect-based approach.

In my case, I have a few hundred thousand documents each with a few thousand tokens. After a learning pass to convert the tokens to integers, an additional integer is created for each document. The array of integers is then constructed as: "doc_token1,num1,num2,...,doc_token2,num3,num4,

[2021-12-12 17:37] #38 closed

[2021-12-12 19:10] louisabraham commented on #37
Ok I think I did it. I created lighter workflow for most purposes. `build-and-upload` is only launched when a commit modifying `setup.py` (where the version is specified) is pushed to master. We could even read the version from a separate file to isolate version changes even more.

[2021-12-12 19:10] #37 closed

[2021-12-12 19:58] seanlaw commented on #37
Awesome! Thanks for working on it. From what I've gleaned from other projects, it is common to trigger `build-and-upload` based on the commit message OR if the commit is tagged:

https://stackoverflow.com/questions/61891328/trigger-github-action-only-on-new-tags

So, `build-and-upload` doesn't trigger every time and only if you manually tag a commit with, say, "Release version 0.06" (and then you'

[2021-12-12 20:33] louisabraham commented on #37
I prefer my solution of watching `setup.py`. Also, there is no risk to overwrite a version.

One run is not ending: https://github.com/louisabraham/pydivsufsort/runs/4499216537

[2021-12-12 20:33] louisabraham commented on #37
I also fixed the code coverage: https://app.codecov.io/gh/louisabraham/pydivsufsort

[2021-12-12 22:16] seanlaw commented on #37
I see. So you are allowing the workflow to trigger only on `push` and when `setup.py` is modified (I guess only you and I have permission to do this). And then you have the `test` workflow for PRs. Cool!

[2021-12-12 22:44] louisabraham commented on #37
It also has to run on the master branch, and only we two can push to master. I relaunched the job that didn't run to completion, this time I'll not stop it (github might after 6 hours).

It doesn't seem stuck, just very slow: https://github.com/louisabraham/pydivsufsort/runs/4499663161?check_suite_focus=true

[2021-12-12 22:53] seanlaw commented on #37
But what actually changed from what my PR to now? All of my wheels were built successfully.

[2021-12-12 23:11] louisabraham commented on #37
Oh, good point. Nothing changed. Your PR built all the wheels in 2h30 so I should expect the same timing: https://github.com/louisabraham/pydivsufsort/runs/4168448448?check_suite_focus=true

I think my diagnosis is right. Search the [logs](https://pipelines.actions.githubusercontent.com/wYjIygmbNAPjpDc7I9CMHQe0PeFc2KVGv5ciKHFiN41s4a8NO3/_apis/pipelines/1/runs/54/signedlogcontent/126?urlExpires=202

[2021-12-12 23:21] louisabraham commented on #37
see https://github.com/numpy/numpy/issues/20573

[2021-12-12 23:22] louisabraham commented on #37
it finished!
What a nice sight :)
<img width="539" alt="image" src="https://user-images.githubusercontent.com/13174805/145733742-05a511f2-c683-49ab-8819-b30e539f27f7.png">

[2021-12-12 23:23] seanlaw commented on #37
That's great! Thanks again for pushing it through the final meter!

[2021-12-12 23:26] seanlaw commented on #38
@grantjenks version 0.06 was just posted to PyPI. Would you mind taking a look at your earliest convenience?

https://pypi.org/project/pydivsufsort/#files

[2021-12-13 07:45] louisabraham opened #39 "Why install the build package?"
@seanlaw why do we have that line?

[code]

[2021-12-13 09:21] louisabraham commented on #39
ok  it was for the source dist

[2021-12-13 09:21] #39 closed

[2021-12-13 10:04] louisabraham commented on #37
I excluded musl from the builds since people need to build numpy anyway for the installation.
Also, upgrading pip allows it to find wheels for `cp310-musllinux_x86_64`.
This reduced the build time from 2h30 to 15 min.

I kept `cp310-manylinux_i686` even though we have to build `oldest-supported-numpy` because people can install it without compilation since there are wheels for `numpy`, it takes ab

[2021-12-13 19:18] grantjenks commented on #38
Thank you! I was able to import the package at work.

[2021-12-14 17:47] louisabraham commented on #37
Actually I was wrong about both points. `cp310-manylinux_i686` is just using the cached wheels because oldest-supported and numpy currently match. Anyway, it's not a big problem to keep it for the moment.

[2022-03-30 10:45] louisabraham commented on #12
Very interesting, don't hesitate to share your code!

[2022-07-11 00:32] eyaler opened #40 "allow bwt on non-ascii"
in my use case i want to do bwt on utf8 strings. i do not want to utf8 encode them into bytes, as dealing with the broken point codes is weird and i would like keep the symbols intact. therefore i would like to be able to use an int32 list.

[2022-07-11 01:49] louisabraham opened #41 "BWT is wrong when _minimize_dtype is called"
[code]

[2022-07-11 02:03] louisabraham commented on #40
This should be pretty simple to implement in naive python.

Let (idx, U) be the output, T be the input and A be the suffix array.

from https://github.com/lh3/libdivsufsort/blob/master/lib/utils.c#L96-L99=
[code]

Basically it's that slide with a special case for `$`.
<img width="670" alt="image" src="https://user-images.githubusercontent.com/13174805/178174835-328c0ff3-c75a-44b4-a10a-9abb0a9e968b

[2022-07-11 02:30] eyaler commented on #40
thanks! for now i am just doing something like:
[code]
btw, why in your BWT are you moving the eos to the beginning?

[2022-07-13 17:21] louisabraham commented on #40
Yeah I think it is the best solution for now.

Very good question, I just copied the relevant lines from libdivsufsort. No idea why they do it like that.